<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% include link-account.html url='http://github.com/aguilarpgc' title="GitHub" %}
          {% include link-account.html url='http://twitter.com/aguilarpgc' title="Twitter" %}
          {% include link-account.html url='http://stackoverflow.com/users/2544076' title="Stack Overflow"%}
       </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
