         <p>
          {% include link-account.html url='http://github.com/aguilarpgc' title="GitHub" %}
          {% include link-account.html url='http://twitter.com/aguilarpgc' title="Twitter" %}
          {% include link-account.html url='http://www.linkedin.com/in/aguilarpgc' title="LinkedIn" %}
          {% include link-account.html url='http://stackoverflow.com/users/2544076' title="StackOverflow" %}
          {% include link-account.html url='http://www.spoj.com/users/aguilarpgc/' title="SPOJ" %}
          </p>
