         <p>

          {% include link-account.html fa_name="github" url='http://github.com/aguilarpgc'%}
          {% include link-account.html fa_name="linkedin" url='http://www.linkedin.com/in/aguilarpgc' %}
          {% include link-account.html fa_name="stack-overflow" url='http://stackoverflow.com/users/2544076' %}
          {% include link-account.html fa_name="instagram" url='https://www.instagram.com/aguilarpgc/' %}
          {% include link-account.html fa_name="twitter" url='http://twitter.com/aguilarpgc' %}
          {% include link-account.html fa_name="code" url='http://www.spoj.com/users/aguilarpgc/' %}
          </p>
